<form action="/user/add" method="post">
    <p>

        <label>F_name </label><input value="" name="First_Name"/><br/>
        <br/>
        <label>L_name </label><input value="" name="Last_Name"/><br/>
        <br/>
        <label>E_mail </label><input value="" name="e_mail"/><br/>
        <br/>
        <label>Phone </label><input value="" name="phone"/><br/>
        <br/>
        <label>hashed_password  </label><input value="" name="Emp_id"/><br/>
        <br/>
        <label>salt</label><input value="" name="pass"/><br/>
        <br/>
        <button type="submit">Add User</button>
    </p>

</form>